.Eightball {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 15rem;
    margin: 15rem;
    padding: 5em;
    color: white;
    border-radius: 50%;
    font-size: 48px;
    border: black solid 5px;
}